audioread==2.1.6
decorator==4.3.0
joblib==0.12.4
librosa==0.6.2
llvmlite==0.24.0
MIDIUtil==1.2.1
numba==0.39.0
numpy==1.15.1
opencv-python==3.4.2.17
PyAudio==0.2.11
resampy==0.2.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
